@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

[data-scroll-lock] ._lock-padding {
  @media (any-hover: hover) {
    padding-right: var(--scrollbar-width);
  }
}

body {
  overflow: hidden;

  font-size: 14px;
  line-height: 1;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: var(--black);
}

#root {
  height: 100%;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
